/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #e9e5e5;
  background-color: #37425E;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%233b4963' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%233f5068' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2344576c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23485e71' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234C6576' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.logoImagen{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 1rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  
  margin: 40px 0;
}

.letra-transactions{
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  padding: 8px;
}

.marginCero{
  margin: 0 !important;
  align-items: center;
}

[v-cloak]{
  display: none;
}

.footer{
  min-height: 20vh;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #283044;
  color: #fff;
  transition: all 0.3s;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: inherit;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #283044;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid black;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #78A1BB;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #78A1BB;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #78A1BB;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article{
  background: #283044 !important;
  color: #fff !important;
}

.article:hover{
  background-color: #78A1BB !important;
  color: white !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  width: 100%;
}

#content p a {
  color: white;
}

.btn{
  background-color: #6D0B0B !important;
  color: white !important;
}

.nada{
  background-color: white !important;
}

.opciones{
  width: 15rem !important;
  border-style: none;
  border-bottom: 1px solid black;
  border-radius: 0.375rem;
  padding: 6px 12px !important;
}

.tabla-hover:hover{
  background-color: #6D0B0B;
  color: white;

}

/* --------------------------*/


footer {
	color: #fff;
  }
  
  footer h3 {
	margin-bottom: 30px;
  }
  
  footer .footer-above {
	padding-top: 35px;
	background-color: #2c3e50;
  }
  
  footer .footer-col {
	margin-bottom: 10px;
  }
  
  footer .footer-below {
	padding: 25px 0;
	background-color: #233140;
  }
  
  .btn-social {
	display: inline-block;
	width: 50px;
	height: 50px;
  
	text-align: center;
	font-size: 20px;
  
  }
  
  .btn:focus,
  .btn:active,
  .btn.active {
	outline: 0;
  }
  
  .scroll-top {
	z-index: 1049;
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
  }
  
  .scroll-top .btn {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 28px;
  }
  
  .scroll-top .btn:focus {
	outline: 0;
  }
  
  .list-inline li a{
	color: white;
  }
  
  .list-inline li a:hover{
	color: #a12323;
	
  }
.contaner-propio{
	width: 99%;

}
.hover-falso:hover{
  color: #a12323 !important;
  }



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 2560px){
  .oculto{
    display: none;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .oculto{
    display: flex;
    padding: 3px;
  }
}

@media (max-width: 550px){
  .desaparecer{
    display: none;
  }
  .flechas{
    justify-content: center;
  }
  .letra-mas-chica{
    font-size: 12px;
  }
}