<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/cards.css">
    <link rel="shortcut icon" href="./images/logo-mindhub.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Panel Cards</title>
</head>
<body>
    <main id="app">
        <div class="wrapper2">
            <nav id="sidebar" class="sticky-top">
                <div class="sidebar-header border-bottom border-dark logoImagen">
                    <img src="./images/logo-mindhub-sinfondo.png" alt="" style="height: 6.5rem; width: 6.5rem; ">
                    <h3>Mindhub Bank</h3>
                </div>
            
                <ul class="list-unstyled components">
                <p class="border-bottom border-dark fs-4">Cards</p>
                <li>
                    <a href="./create-cards.html" class="article" v-if="dataCards.length < 6">AddCard</a>
                </li>
                <li>
                    <a href="http://localhost:8080/web/accounts.html#">Accounts</a>
                </li>
                <li>
                    <a :href='"account.html?id="+transactionId'>Transactions</a>
                </li>
                <li>
                    <a href="#">Contacts</a>
                </li>
                <li>
                    <a href="#">Withdraw money</a>
                </li>
                </ul>
                
                <ul class="list-unstyled CTAs">
                <li><a href="#" class="article">Reports</a></li>
                </ul>
            </nav>
            <div id="content">
            <nav class="navbar navbar-default sticky-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="bi bi-text-left oculto"></i>
                        <span><i class="bi bi-arrow-left-right"></i></span>
                        </button>
                    </div>
                    <div class="d-flex gap-3">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nada" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{client.firstName}} {{client.lastName}} <i class="bi bi-person-fill"></i></a>
                            <ul class="dropdown-menu nada">
                                <li><a class="dropdown-item" href="#"><i class="bi bi-person-fill"></i> User profile</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-person-vcard"></i> User information</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Settings</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-shield-lock"></i> Segurity</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a @click="logout" class="dropdown-item" href="#"><i class="bi bi-power"></i> Disconect</a></li>
                            </ul>
                        </div>
                        <a href="#"><i style="color: black;" class="bi bi-calculator-fill"></i></a>
                        <a href="#"><i style="color: black;" class="bi bi-calendar3"></i></a>
                        <a href="#"><i style="color: black;" class="bi bi-bell"></i></a>
                    </div>
                </div>
            </nav>
            <h2 class="text-center">{{client.firstName}} {{client.lastName}} here are your Cards</h2>
            <div class="line"></div>

            <h4>Credit cards:</h4>
            <div class="line"></div>
    <div class="todasLasCards gap-2" v-if="dataCards.length > 0">
        <div v-for="card of dataCards">
            <div v-if="card.type == 'CREDIT'" class="d-flex">
            <div v-if="card.color == 'GOLD'">
                
                <div class="backgound"></div>
                <div class="center">
                    <div class="card">
                        <div class="flip">
                            <div class="front dorado">
                                <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="70" height="20" viewBox="0 0 175.7 53.9">
                                    <style>
                                        .visa {
                                            fill: #fff;
                                        }
                                    </style>
                                    <path class="visa" d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                    <path fill="#F7A600" d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                                </svg>
                                <div class="typeCard">{{card.type}} CARD</div>
                                <div class="chip">
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                </div>
                                <div class="card-holder text-dark">{{card.cardholder}}</div>
                                <div class="numbersCard">{{card.number}}</div>
                                <div class="titulo-fecha1">Start</div>
                                <div class="fecha1">{{justDay(card.fromDate)}}</div>
                                <div class="titulo-fecha2">Expires</div>
                                <div class="fecha2">{{justDay(card.thruDate)}}</div>
                                <h3 v-if="card.thruDate <= currentDay" class="cartelVencido text-dark">expired</h3>
                            </div>
                            <div class="back dorado">
                                <img class="logo2" src="./images/logo-mindhub-sinfondo.png"/>
                                <div class="strip-black"></div> <!-- linea negra -->
                                <div class="master">
                                    <div class="strip-white"></div>
                                    <div class="cvv">{{card.cvv}}</div>
                                    <div class="strip-cvv"></div>
                                    <div class="master-text">{{card.cardholder}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam corrupti tempore fugit velit laborum quam error illum? Omnis pariatur rerum ipsam nostrum porro, quis inventore animi perferendis quae at!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="card.color == 'TITANIUM'">
                
                <div class="backgound"></div>
                <div class="center">
                    <div class="card">
                        <div class="flip">
                            <div class="front titanium">
                                <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="70" height="20" viewBox="0 0 175.7 53.9" style="color: #fff !important;">
                                    
                                    <path style="color: #fff !important;" class="visa" d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                    <path style="color: white !important;" fill="#F7A600" d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                                </svg>
                                <div class="typeCard">{{card.type}} CARD</div>
                                <div class="chip">
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                </div>
                                <div class="card-holder text-light">{{card.cardholder}}</div>
                                <div class="numbersCard">{{card.number}}</div>
                                <div class="titulo-fecha1">Start</div>
                                <div class="fecha1">{{justDay(card.fromDate)}}</div>
                                <div class="titulo-fecha2">Expires</div>
                                <div class="fecha2">{{justDay(card.thruDate)}}</div>
                                <h3 v-if="card.thruDate <= currentDay" class="cartelVencido">expired</h3>
                            </div>
                            <div class="back titanium">
                                <img class="logo2" src="./images/logo-mindhub-sinfondo.png"/>
                                <div class="strip-black"></div> <!-- linea negra -->
                                <div class="master">
                                    <div class="strip-white"></div>
                                    <div class="cvv text-dark">{{card.cvv}}</div>
                                    <div class="strip-cvv"></div>
                                    <div class="master-text">{{card.cardholder}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam corrupti tempore fugit velit laborum quam error illum? Omnis pariatur rerum ipsam nostrum porro, quis inventore animi perferendis quae at!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="card.color == 'SILVER'">
                
                <div class="backgound"></div>
                <div class="center">
                    <div class="card">
                        <div class="flip">
                            <div class="front silver">
                                <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="70" height="20" viewBox="0 0 175.7 53.9">
                                    <style>
                                        .visa {
                                            fill: #fff;
                                        }
                                    </style>
                                    <path class="visa" d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                    <path fill="#F7A600" d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                                </svg>
                                <div class="typeCard">{{card.type}} CARD</div>
                                <div class="chip">
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                </div>
                                <div class="card-holder text-light">{{card.cardholder}}</div>
                                <div class="numbersCard">{{card.number}}</div>
                                <div class="titulo-fecha1">Start</div>
                                <div class="fecha1">{{justDay(card.fromDate)}}</div>
                                <div class="titulo-fecha2">Expires</div>
                                <div class="fecha2">{{justDay(card.thruDate)}}</div>
                                <h3 v-if="card.thruDate <= currentDay" class="cartelVencido">expired</h3>
                            </div>
                            <div class="back silver">
                                <img class="logo2" src="./images/logo-mindhub-sinfondo.png"/>
                                <div class="strip-black"></div> <!-- linea negra -->
                                <div class="master">
                                    <div class="strip-white"></div>
                                    <div class="cvv text-dark">{{card.cvv}}</div>
                                    <div class="strip-cvv"></div>
                                    <div class="master-text">{{card.cardholder}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam corrupti tempore fugit velit laborum quam error illum? Omnis pariatur rerum ipsam nostrum porro, quis inventore animi perferendis quae at!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div v-else>
            <h2 class="d-flex justify-content-center">You have no credit cards</h2>
    </div>
    <div class="line"></div>
    <h4>Debit cards:</h4>
    <div class="line"></div>
    <div class="todasLasCards gap-2" v-if="dataCards.length > 0">
        <div v-for="card of dataCards">
            <div v-if="card.type == 'DEBIT'" class="d-flex">
            <div v-if="card.color == 'GOLD'">
                
                <div class="backgound"></div>
                <div class="center">
                    <div class="card">
                        <div class="flip">
                            <div class="front dorado">
                                <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="70" height="20" viewBox="0 0 175.7 53.9">
                                    <style>
                                        .visa {
                                            fill: #fff;
                                        }
                                    </style>
                                    <path class="visa" d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                    <path fill="#F7A600" d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                                </svg>
                                <div class="typeCard">{{card.type}} CARD</div>
                                <div class="chip">
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                </div>
                                <div class="card-holder text-dark">{{card.cardholder}}</div>
                                <div class="numbersCard">{{card.number}}</div>
                                <div class="titulo-fecha1">Start</div>
                                <div class="fecha1">{{justDay(card.fromDate)}}</div>
                                <div class="titulo-fecha2">Expires</div>
                                <div class="fecha2">{{justDay(card.thruDate)}}</div>
                                <h3 v-if="card.thruDate <= currentDay" class="cartelVencido text-dark">expired</h3>
                            </div>
                            <div class="back dorado">
                                <img class="logo2" src="./images/logo-mindhub-sinfondo.png"/>
                                <div class="strip-black"></div> <!-- linea negra -->
                                <div class="master">
                                    <div class="strip-white"></div>
                                    <div class="cvv">{{card.cvv}}</div>
                                    <div class="strip-cvv"></div>
                                    <div class="master-text">{{card.cardholder}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam corrupti tempore fugit velit laborum quam error illum? Omnis pariatur rerum ipsam nostrum porro, quis inventore animi perferendis quae at!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="card.color == 'TITANIUM'">
                
                <div class="backgound"></div>
                <div class="center">
                    <div class="card">
                        <div class="flip">
                            <div class="front titanium">
                                <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="70" height="20" viewBox="0 0 175.7 53.9" style="color: #fff !important;">
                                    
                                    <path style="color: #fff !important;" class="visa" d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                    <path style="color: white !important;" fill="#F7A600" d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                                </svg>
                                <div class="typeCard">{{card.type}} CARD</div>
                                <div class="chip">
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                </div>
                                <div class="card-holder text-light">{{card.cardholder}}</div>
                                <div class="numbersCard">{{card.number}}</div>
                                <div class="titulo-fecha1">Start</div>
                                <div class="fecha1">{{justDay(card.fromDate)}}</div>
                                <div class="titulo-fecha2">Expires</div>
                                <div class="fecha2">{{justDay(card.thruDate)}}</div>
                                <h3 v-if="card.thruDate <= currentDay" class="cartelVencido">expired</h3>
                            </div>
                            <div class="back titanium">
                                <img class="logo2" src="./images/logo-mindhub-sinfondo.png"/>
                                <div class="strip-black"></div> <!-- linea negra -->
                                <div class="master">
                                    <div class="strip-white"></div>
                                    <div class="cvv text-dark">{{card.cvv}}</div>
                                    <div class="strip-cvv"></div>
                                    <div class="master-text">{{card.cardholder}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam corrupti tempore fugit velit laborum quam error illum? Omnis pariatur rerum ipsam nostrum porro, quis inventore animi perferendis quae at!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="card.color == 'SILVER'">
                
                <div class="backgound"></div>
                <div class="center">
                    <div class="card">
                        <div class="flip">
                            <div class="front silver">
                                <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="70" height="20" viewBox="0 0 175.7 53.9">
                                    <style>
                                        .visa {
                                            fill: #fff;
                                        }
                                    </style>
                                    <path class="visa" d="M61.9 53.1l8.9-52.2h14.2l-8.9 52.2zm65.8-50.9c-2.8-1.1-7.2-2.2-12.7-2.2-14.1 0-24 7.1-24 17.2-.1 7.5 7.1 11.7 12.5 14.2 5.5 2.6 7.4 4.2 7.4 6.5 0 3.5-4.4 5.1-8.5 5.1-5.7 0-8.7-.8-13.4-2.7l-2-.9-2 11.7c3.3 1.5 9.5 2.7 15.9 2.8 15 0 24.7-7 24.8-17.8.1-5.9-3.7-10.5-11.9-14.2-5-2.4-8-4-8-6.5 0-2.2 2.6-4.5 8.1-4.5 4.7-.1 8 .9 10.6 2l1.3.6 1.9-11.3M164.2 1h-11c-3.4 0-6 .9-7.5 4.3l-21.1 47.8h14.9s2.4-6.4 3-7.8h18.2c.4 1.8 1.7 7.8 1.7 7.8h13.2l-11.4-52.1m-17.5 33.6c1.2-3 5.7-14.6 5.7-14.6-.1.1 1.2-3 1.9-5l1 4.5s2.7 12.5 3.3 15.1h-11.9zm-96.7-33.7l-14 35.6-1.5-7.2c-2.5-8.3-10.6-17.4-19.6-21.9l12.7 45.7h15.1l22.4-52.2h-15.1" />
                                    <path fill="#F7A600" d="M23.1.9h-22.9l-.2 1.1c17.9 4.3 29.7 14.8 34.6 27.3l-5-24c-.9-3.3-3.4-4.3-6.5-4.4" />
                                </svg>
                                <div class="typeCard">{{card.type}} CARD</div>
                                <div class="chip">
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                    <div class="pin"></div>
                                </div>
                                <div class="card-holder text-light">{{card.cardholder}}</div>
                                <div class="numbersCard">{{card.number}}</div>
                                <div class="titulo-fecha1">Start</div>
                                <div class="fecha1">{{justDay(card.fromDate)}}</div>
                                <div class="titulo-fecha2">Expires</div>
                                <div class="fecha2">{{justDay(card.thruDate)}}</div>
                                <h3 v-if="card.thruDate <= currentDay" class="cartelVencido">expired</h3>
                            </div>
                            <div class="back silver">
                                <img class="logo2" src="./images/logo-mindhub-sinfondo.png"/>
                                <div class="strip-black"></div> <!-- linea negra -->
                                <div class="master">
                                    <div class="strip-white"></div>
                                    <div class="cvv text-dark">{{card.cvv}}</div>
                                    <div class="strip-cvv"></div>
                                    <div class="master-text">{{card.cardholder}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam corrupti tempore fugit velit laborum quam error illum? Omnis pariatur rerum ipsam nostrum porro, quis inventore animi perferendis quae at!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div v-else>
            <h2 class="d-flex justify-content-center">You have no debit cards</h2>
    </div>
            </div>
        </div>
    </main>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./JS/cards.js"></script>
</body>
</html>