<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/createCard.css">
        <link rel="shortcut icon" href="./images/logo-mindhub.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>Creat Card</title>
    </head>
<body>
    <main id="app">
        <div class="container">
          <div class="d-flex gap-3 align-items-center">
            <h1 class="brand text-light">MindHub Bank</h1>
            <img src="./images/logo-mindhub-sinfondo.png" alt="" style="height: 6.5rem; width: 6.5rem;">
          </div>
            <div class="wrapper animated bounceInLeft">
              <div class="company-info" v-if="cardType.length == 0" v-cloak>
                <h4>Why you want to take a card?</h4>
                <p class="letraMasChica">It is important that you carefully consider the benefits and disadvantages before making a decision.</p>
                
                <ul class="letraMasChica">
                  <li class="d-flex text-start">1. Convenience and security: Cards are a convenient and secure way to make payments.</li>
                  <li class="d-flex text-start">2. Payment flexibility: If you opt for a credit card, you will have the option of paying for your purchases in monthly installments.</li>
                  <li class="d-flex text-start">3. Build credit: If you are a responsible credit card user, you can improve your credit history.</li>
                  <li class="d-flex text-start">4. Rewards and benefits: Some cards offer rewards programs that allow you to accumulate points, airline miles or other types of benefits.</li>
                  <li class="d-flex text-start">5. Emergencies and unexpected situations: If an emergency arises and you need money quickly, a credit or debit card may be a good option.</li>
                </ul>
                
                <p class="letraMasChica">However, it is important to note that cards can also have drawbacks. If you are not a responsible user, you can accumulate debts and have financial problems. Also, some cards may have hidden fees and charges, which can affect your finances in the long run.</p>
              </div>

              <div class="company-info" v-if="cardType == 'CREDIT'" v-cloak>
                <h4>Info of Credit cards:</h4>
                <p class="letraMasChica">It is important that you carefully consider the benefits and disadvantages before making a decision.</p>
                
                <h5>Benefits:</h5>
                <ul class="letraMasChica">
                  <li class="d-flex text-start">1. Payment flexibility: with a credit card you can buy what you need without having to pay the entire amount at once.</li>
                  <li class="d-flex text-start">2. Security: a credit card is safer than carrying cash.</li>
                  <li class="d-flex text-start">3. Rewards: some credit cards offer rewards programs for every purchase you make, such as points, airline miles, restaurant discounts, among other benefits.</li>
                  <li class="d-flex text-start">4. Protection on purchases: credit cards can offer additional protection on your purchases, such as extended warranties, protection against fraud, among others.</li>
                </ul>
                <h5>Disadvantages:</h5>
                <ul class="letraMasChica">
                  <li class="d-flex text-start">1. Interest: If you do not pay your balance in full each month, you will have to pay interest that can be high and increase your debt.</li>
                  <li class="d-flex text-start">2. Fees: Some credit cards have annual fees, overdraft fees, late fees, among other costs.</li>
                  <li class="d-flex text-start">3. Temptation to Spend Unnecessarily: With a credit card, you may be tempted to spend more than you really need, which can lead to hard-to-pay debt.</li>
                  <li class="d-flex text-start">4.Damage to credit history: If you don't pay your credit cards on time, it can negatively affect your credit history and reduce your chances of obtaining loans in the future.</li>
                </ul>
              </div>

              <div class="company-info" v-if="cardType == 'DEBIT'" v-cloak>
                <h4>Info of Debit cards:</h4>
                <p class="letraMasChica">It is important that you carefully consider the benefits and disadvantages before making a decision.</p>
                
                <h5>Benefits:</h5>
                <ul class="letraMasChica">
                  <li class="d-flex text-start">1. Control spending: A debit card allows you to spend only what you have in your account, which can help you keep a controlled budget.</li>
                  <li class="d-flex text-start">2. There is no interest: There is no interest to pay with a debit card, since you can only spend what you have available in your account.</li>
                  <li class="d-flex text-start">3. Increased acceptance: Debit cards are widely accepted in physical stores and online, making them convenient to buy what you need.</li>
                  <li class="d-flex text-start">4. Security: debit cards are also safe, since if you lose your card or it is stolen, you can report it immediately and the financial institution will take care of blocking it and issuing a new one.</li>
                </ul>
                <h5>Disadvantages:</h5>
                <ul class="letraMasChica">
                  <li class="d-flex text-start">1.Limited Purchase Protection: Debit cards do not offer the same protection as credit cards in case of fraudulent purchases or disputes with merchants.</li>
                  <li class="d-flex text-start">2. Spending limits: Some banks may have daily spending limits on debit cards, which can be inconvenient if you need to make large purchases.</li>
                  <li class="d-flex text-start">3. Fewer rewards and benefits: Unlike credit cards, debit cards don't typically offer rewards or benefit programs.</li>
                  <li class="d-flex text-start">4. Additional fees and charges: If you're not careful, you can rack up additional fees and charges with a debit card.</li>
                </ul>
              </div>



              <div class="contact d-flex flex-column justify-content-evenly">
                <h3>You can request a Card here!</h3>
                <div class="d-flex flex-column">
                  <form @submit.prevent="loadAccounts">
                    <div class="w-100 d-flex justify-content-between flex-wrap media">

                    <div class="largo-inputs">
                        <label for="tipoTransferencia">Card type:</label>
                        <select id="tipoTransferencia" v-model="cardType" class="select-input">
                          <option value="" disabled selected>Select Type</option>
                          <option value="DEBIT">DEBIT</option>
                          <option value="CREDIT">CREDIT</option>
                        </select>
                    </div>
                  
                  
                    <div class="largo-inputs">
                      <label for="cuentaDestino" class="paddingSimple">Select Payment:</label>
                      <select id="cuentaDestino" v-model="colorType" class="select-input">
                          <option value="" disabled selected>Select one payment</option>
                          <option value="SILVER">SILVER</option>
                          <option value="GOLD">GOLD</option>
                          <option value="TITANIUM">TITANIUM</option>
                      </select>
                    </div>
                  
                </div>
                <div class="w-100 d-flex justify-content-between flex-wrap media">
                  <div class="largo-inputs">
                      <label for="adress">Street Address:</label>
                      <input type="text" id="adress" placeholder="Here you can write the Address" v-model="clientAddres">
                  </div>
                  <div class="largo-inputs">
                    <label for="city">City:</label>
                    <input type="text" id="city" placeholder="Here you can write the City" v-model="clientCity">
                  </div>
                </div>
                <div class="w-100 d-flex justify-content-between flex-wrap media">
                  <div class="largo-inputs">
                    <label for="state">State:</label>
                    <input type="text" id="state" placeholder="Here you can write the State" v-model="clientState">
                  </div>
                  <div class="largo-inputs">
                    <label for="postal">Postal code:</label>
                    <input type="text" id="postal" placeholder="Here you can write the Postal code" v-model="clientPostal">
                  </div>
                </div>
                  
                  <div class="d-flex gap-1 media">
                      <button type="submit" @click="createCard">Click to create the Card</button>
                      <button type="submit" @click="cleanForm">Clean Form</button>
                  </div>
                  <div>
                    <a href="./accounts.html" class="boton-a">Back</a>
                  </div>
                  </form>
              </div>
              </div>
            </div>
          </div>
    </main>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./JS/createCards.js"></script>
</body>
</html>